main{
    color: #FFDE0D;
    color: #353535;
    color:#FBFFFE;
    color:#8C8C8C;
    color:#ECEFEF;
}

.palete{
    color: #408cbd;
    color: #e14433;
    color: #66a5d1;
    color: #f4f0ef;
    color: #de8282;

    
    color: #adddff;/*tickets*/
}